# Object files
*.o
*.ko
*.obj
*.elf
obj/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
vitow_rx
vitow_tx
vitow_stream.sh

# Debug files
*.dSYM/
*.su

# Output files and watermark
vitow_output
*.png
